{% if not user.is_authenticated %}
    <div class="container text-center">
        <h2>Welcome to our Book Review Platform</h2>
        <p>
            Our interactive platform offers the community of users the opportunity to explore and request book reviews based on their needs and preferences.
            Whether you want to discover new books, get opinions, or share your own reviews, our platform is here to support you.
            Join us today and dive into the wonderful world of reading.
        </p>
    </div>

{% endif %}
